* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v336_1802 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1803 {
  width: 100%;
  height: 982px;
  background: url("../images/v336_1803.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1804 {
  width: 100%;
  height: 129px;
  background: url("../images/v336_1804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1805 {
  width: 100%;
  height: 118px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v336_1806 {
  width: 341px;
  height: 108px;
  background: url("../images/v336_1806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  overflow: hidden;
}
.v336_1807 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1294px;
  border-radius: 50%;
}
.v336_1808 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v336_1809 {
  width: 100px;
  height: 95px;
  background: url("../images/v336_1809.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1385px;
  border-radius: 50%;
}
.v336_1810 {
  width: 100%;
  height: 80px;
  background: url("../images/v336_1810.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v336_1811 {
  width: 100%;
  height: 80px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v336_1812 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1356px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1813 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1814 {
  width: 356px;
  height: 784px;
  background: url("../images/v336_1814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v336_1815 {
  width: 356px;
  height: 784px;
  background: rgba(255,146,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v336_1819 {
  width: 356px;
  height: 63px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1820 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1821 {
  width: 356px;
  height: 721px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 0px;
  overflow: hidden;
}
.v336_1822 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 63px;
  left: 25px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1854 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 185px;
  left: 15px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v336_1824 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 255px;
  left: 40px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1852 {
  width: 114px;
  height: 76px;
  background: url("../images/v336_1852.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 1277px;
  overflow: hidden;
}
.v336_1903 {
  width: 943px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 413px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1946 {
  width: 841px;
  height: 408px;
  background: url("../images/v336_1946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 472px;
  overflow: hidden;
}
.v336_1904 {
  width: 344px;
  height: 73px;
  background: url("../images/v336_1904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1905 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
}
.v336_1906 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1948 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1907 {
  width: 344px;
  height: 75px;
  background: url("../images/v336_1907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  overflow: hidden;
}
.v336_1908 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1909 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1950 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1910 {
  width: 344px;
  height: 62px;
  background: url("../images/v336_1910.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 0px;
  overflow: hidden;
}
.v336_1911 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1912 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1951 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1914 {
  width: 344px;
  height: 63px;
  background: url("../images/v336_1914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 0px;
  overflow: hidden;
}
.v336_1915 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1916 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1952 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1918 {
  width: 344px;
  height: 67px;
  background: url("../images/v336_1918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 0px;
  overflow: hidden;
}
.v336_1919 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1920 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1947 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1925 {
  width: 344px;
  height: 75px;
  background: url("../images/v336_1925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 497px;
  overflow: hidden;
}
.v336_1926 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1927 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1957 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1928 {
  width: 344px;
  height: 71px;
  background: url("../images/v336_1928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 497px;
  overflow: hidden;
}
.v336_1929 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1930 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1956 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1931 {
  width: 344px;
  height: 63px;
  background: url("../images/v336_1931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 497px;
  overflow: hidden;
}
.v336_1932 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
}
.v336_1933 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1954 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1934 {
  width: 344px;
  height: 63px;
  background: url("../images/v336_1934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 497px;
  overflow: hidden;
}
.v336_1936 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1937 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1953 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1938 {
  width: 344px;
  height: 68px;
  background: url("../images/v336_1938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 497px;
  overflow: hidden;
}
.v336_1940 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v336_1941 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 37px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1958 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v336_1961 {
  width: 220px;
  height: 63px;
  background: url("../images/v336_1961.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 690px;
  left: 784px;
  overflow: hidden;
}
.v336_1959 {
  width: 220px;
  height: 63px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v336_1960 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 63px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
