* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v333_2 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_3 {
  width: 100%;
  height: 982px;
  background: url("../images/v333_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_4 {
  width: 100%;
  height: 123px;
  background: url("../images/v333_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_5 {
  width: 100%;
  height: 118px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_6 {
  width: 341px;
  height: 108px;
  background: url("../images/v333_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v333_7 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1294px;
  border-radius: 50%;
}
.v333_8 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v333_9 {
  width: 100px;
  height: 95px;
  background: url("../images/v333_9.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1385px;
  border-radius: 50%;
}
.v333_10 {
  width: 100%;
  height: 80px;
  background: url("../images/v333_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v333_11 {
  width: 100%;
  height: 80px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_12 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1347px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_13 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v333_14 {
  width: 358px;
  height: 784px;
  background: url("../images/v333_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v333_15 {
  width: 356px;
  height: 784px;
  background: rgba(255,146,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v333_19 {
  width: 356px;
  height: 63px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_20 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v333_21 {
  width: 356px;
  height: 360px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 0px;
  overflow: hidden;
}
.v333_22 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 431px;
  left: 23px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v333_23 {
  width: 284px;
  height: 348px;
  background: url("../images/v333_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 37px;
  overflow: hidden;
}
.v333_24 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_25 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_26 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 116px;
  left: 2px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_27 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 232px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_28 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_29 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 174px;
  left: 2px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v336_1536 {
  width: 100%;
  height: 833px;
  background: url("../images/v336_1536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 369px;
  overflow: hidden;
}
.v336_1537 {
  width: 100%;
  height: 712px;
  background: rgba(255,146,146,0.07000000029802322);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 0px;
  overflow: hidden;
}
.v336_1538 {
  width: 100%;
  height: 456px;
  background: url("../images/v336_1538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v336_1539 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1540 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1541 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 403px;
  left: 12px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1542 {
  width: 233px;
  height: 220px;
  background: url("../images/v336_1542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 7px;
  overflow: hidden;
}
.v336_1543 {
  width: 114px;
  height: 76px;
  background: url("../images/v336_1543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 892px;
  overflow: hidden;
}
.v336_1544 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 162px;
  overflow: hidden;
}
.v336_1545 {
  width: 264px;
  height: 320px;
  background: url("../images/v336_1545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 291px;
  overflow: hidden;
}
.v336_1546 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1547 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1548 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 21px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1549 {
  width: 264px;
  height: 216px;
  background: url("../images/v336_1549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  overflow: hidden;
}
.v336_1550 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 171px;
  overflow: hidden;
}
.v336_1551 {
  width: 260px;
  height: 320px;
  background: url("../images/v336_1551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 584px;
  overflow: hidden;
}
.v336_1552 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1553 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1554 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 14px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1555 {
  width: 226px;
  height: 218px;
  background: url("../images/v336_1555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 10px;
  overflow: hidden;
}
.v336_1556 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 167px;
  overflow: hidden;
}
.v336_1557 {
  width: 255px;
  height: 320px;
  background: url("../images/v336_1557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 854px;
  overflow: hidden;
}
.v336_1558 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1559 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1560 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 11px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1561 {
  width: 235px;
  height: 204px;
  background: url("../images/v336_1561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 6px;
  overflow: hidden;
}
.v336_1562 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 162px;
  overflow: hidden;
}
.v336_1563 {
  width: 276px;
  height: 323px;
  background: url("../images/v336_1563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 0px;
  overflow: hidden;
}
.v336_1564 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1565 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1566 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 27px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1567 {
  width: 276px;
  height: 258px;
  background: url("../images/v336_1567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1568 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 178px;
  overflow: hidden;
}
.v336_1569 {
  width: 304px;
  height: 323px;
  background: url("../images/v336_1569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 271px;
  overflow: hidden;
}
.v336_1570 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1571 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1572 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 40px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1573 {
  width: 304px;
  height: 258px;
  background: url("../images/v336_1573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1574 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 191px;
  overflow: hidden;
}
.v336_1575 {
  width: 280px;
  height: 323px;
  background: url("../images/v336_1575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 568px;
  overflow: hidden;
}
.v336_1576 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1577 {
  width: 246px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1578 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 31px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1579 {
  width: 280px;
  height: 257px;
  background: url("../images/v336_1579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v336_1580 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 183px;
  overflow: hidden;
}
.v336_1581 {
  width: 265px;
  height: 323px;
  background: url("../images/v336_1581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 844px;
  overflow: hidden;
}
.v336_1582 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1583 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1584 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 20px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1585 {
  width: 257px;
  height: 219px;
  background: url("../images/v336_1585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v336_1586 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 172px;
  overflow: hidden;
}
.v333_65 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_66 {
  width: 100%;
  height: 751px;
  background: url("../images/v333_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 278px;
  overflow: hidden;
}
.v333_67 {
  width: 100%;
  height: 751px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v333_68 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 100px;
  overflow: hidden;
}
.v333_69 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_70 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_83 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 100px;
  overflow: hidden;
}
.v333_84 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_85 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_71 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 100px;
  overflow: hidden;
}
.v333_72 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_73 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_86 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 100px;
  overflow: hidden;
}
.v333_89 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_90 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_91 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_92 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 100px;
  overflow: hidden;
}
.v333_93 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_94 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_95 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_96 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 100px;
  overflow: hidden;
}
.v333_97 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_98 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_99 {
  width: 246px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_100 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 579px;
  overflow: hidden;
}
.v333_101 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_102 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_103 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 579px;
  overflow: hidden;
}
.v333_104 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_105 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_106 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 579px;
  overflow: hidden;
}
.v333_107 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_108 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_109 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 579px;
  overflow: hidden;
}
.v333_110 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_111 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_112 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_113 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 579px;
  overflow: hidden;
}
.v333_114 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_115 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_116 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_117 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 579px;
  overflow: hidden;
}
.v333_118 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_119 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_120 {
  width: 246px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_77 {
  width: 241px;
  height: 174px;
  background: url("../images/v333_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 394px;
  overflow: hidden;
}
.v333_82 {
  width: 489px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 270px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
