* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v302_57 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_58 {
  width: 100%;
  height: 982px;
  background: url("../images/v302_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_59 {
  width: 100%;
  height: 123px;
  background: url("../images/v302_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_60 {
  width: 100%;
  height: 118px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v302_61 {
  width: 341px;
  height: 108px;
  background: url("../images/v302_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v302_62 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1294px;
  border-radius: 50%;
}
.v302_63 {
  width: 71px;
  height: 75px;
  background: rgba(249,196,201,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v305_20 {
  width: 100px;
  height: 95px;
  background: url("../images/v305_20.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1385px;
  border-radius: 50%;
}
.v302_64 {
  width: 100%;
  height: 80px;
  background: url("../images/v302_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v302_65 {
  width: 100%;
  height: 80px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v302_66 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1347px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v302_67 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v302_68 {
  width: 358px;
  height: 784px;
  background: url("../images/v302_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v302_69 {
  width: 356px;
  height: 784px;
  background: rgba(255,146,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v302_73 {
  width: 356px;
  height: 63px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_74 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v302_75 {
  width: 356px;
  height: 360px;
  background: rgba(232,72,85,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 0px;
  overflow: hidden;
}
.v302_76 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 431px;
  left: 23px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v302_77 {
  width: 284px;
  height: 348px;
  background: url("../images/v302_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 37px;
  overflow: hidden;
}
.v302_78 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_79 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_80 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 116px;
  left: 2px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_81 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 232px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_82 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_83 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 174px;
  left: 2px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v336_1485 {
  width: 100%;
  height: 833px;
  background: url("../images/v336_1485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 369px;
  overflow: hidden;
}
.v336_1486 {
  width: 100%;
  height: 712px;
  background: rgba(255,146,146,0.07000000029802322);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 0px;
  overflow: hidden;
}
.v336_1487 {
  width: 100%;
  height: 456px;
  background: url("../images/v336_1487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v336_1488 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1489 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1490 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 403px;
  left: 12px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1491 {
  width: 233px;
  height: 220px;
  background: url("../images/v336_1491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 7px;
  overflow: hidden;
}
.v336_1492 {
  width: 114px;
  height: 76px;
  background: url("../images/v336_1492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 892px;
  overflow: hidden;
}
.v336_1493 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 162px;
  overflow: hidden;
}
.v336_1494 {
  width: 264px;
  height: 320px;
  background: url("../images/v336_1494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 291px;
  overflow: hidden;
}
.v336_1495 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1496 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1497 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 21px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1498 {
  width: 264px;
  height: 216px;
  background: url("../images/v336_1498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  overflow: hidden;
}
.v336_1499 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 171px;
  overflow: hidden;
}
.v336_1500 {
  width: 260px;
  height: 320px;
  background: url("../images/v336_1500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 584px;
  overflow: hidden;
}
.v336_1501 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1502 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1503 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 14px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1504 {
  width: 226px;
  height: 218px;
  background: url("../images/v336_1504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 10px;
  overflow: hidden;
}
.v336_1505 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 167px;
  overflow: hidden;
}
.v336_1506 {
  width: 255px;
  height: 320px;
  background: url("../images/v336_1506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 854px;
  overflow: hidden;
}
.v336_1507 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1508 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1509 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 11px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1510 {
  width: 235px;
  height: 204px;
  background: url("../images/v336_1510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 6px;
  overflow: hidden;
}
.v336_1511 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 162px;
  overflow: hidden;
}
.v336_1512 {
  width: 276px;
  height: 323px;
  background: url("../images/v336_1512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 0px;
  overflow: hidden;
}
.v336_1513 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1514 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1515 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 27px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1516 {
  width: 276px;
  height: 258px;
  background: url("../images/v336_1516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1517 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 178px;
  overflow: hidden;
}
.v336_1518 {
  width: 304px;
  height: 323px;
  background: url("../images/v336_1518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 271px;
  overflow: hidden;
}
.v336_1519 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1520 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1521 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 40px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1522 {
  width: 304px;
  height: 258px;
  background: url("../images/v336_1522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1523 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 191px;
  overflow: hidden;
}
.v336_1524 {
  width: 280px;
  height: 323px;
  background: url("../images/v336_1524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 568px;
  overflow: hidden;
}
.v336_1525 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1526 {
  width: 246px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1527 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 31px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1528 {
  width: 280px;
  height: 257px;
  background: url("../images/v336_1528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v336_1529 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 183px;
  overflow: hidden;
}
.v336_1530 {
  width: 265px;
  height: 323px;
  background: url("../images/v336_1530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 844px;
  overflow: hidden;
}
.v336_1531 {
  width: 247px;
  height: 312px;
  background: rgba(232,72,85,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1532 {
  width: 247px;
  height: 261px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v336_1533 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 20px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v336_1534 {
  width: 257px;
  height: 219px;
  background: url("../images/v336_1534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v336_1535 {
  width: 93px;
  height: 73px;
  background: url("../images/v336_1535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 172px;
  overflow: hidden;
}
.v302_120 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_121 {
  width: 486px;
  height: 581px;
  background: url("../images/v302_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 550px;
  overflow: hidden;
}
.v302_122 {
  width: 486px;
  height: 539px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v302_123 {
  width: 344px;
  height: 53px;
  background: url("../images/v302_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 74px;
  overflow: hidden;
}
.v302_124 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v302_125 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v302_126 {
  width: 344px;
  height: 40px;
  background: url("../images/v302_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 74px;
  overflow: hidden;
}
.v302_127 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v302_128 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v302_132 {
  width: 190px;
  color: rgba(0,0,0,0.5799999833106995);
  position: absolute;
  top: 431px;
  left: 148px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v302_133 {
  width: 75px;
  color: rgba(0,0,0,0.5799999833106995);
  position: absolute;
  top: 516px;
  left: 206px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v302_134 {
  width: 409px;
  height: 380px;
  background: url("../images/v302_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
  overflow: hidden;
}
