* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v333_983 {
  width: 100%;
  height: 982px;
  background: url("../images/v333_983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_984 {
  width: 100%;
  height: 982px;
  background: url("../images/v333_984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_985 {
  width: 100%;
  height: 123px;
  background: url("../images/v333_985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_986 {
  width: 100%;
  height: 118px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_987 {
  width: 341px;
  height: 108px;
  background: url("../images/v333_987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 7px;
  overflow: hidden;
}
.v333_988 {
  width: 71px;
  height: 75px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v333_989 {
  width: 90px;
  height: 80px;
  background: url("../images/v333_989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1390px;
  overflow: hidden;
}
.v333_990 {
  width: 100%;
  height: 80px;
  background: url("../images/v333_990.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v333_991 {
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_992 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1324px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_993 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v333_994 {
  width: 356px;
  height: 784px;
  background: url("../images/v333_994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v333_995 {
  width: 356px;
  height: 784px;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v333_999 {
  width: 356px;
  height: 214px;
  background: url("../images/v333_999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_1000 {
  width: 356px;
  height: 63px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_1001 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_1002 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 115px;
  left: 29px;
  font-family: Manrope;
  font-weight: Bold;
  text-decoration: underline rgb(255, 255, 255); 
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_1003 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 160px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_1004 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 30px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v333_1005 {
  width: 356px;
  height: 569px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  overflow: hidden;
}
.v333_1007 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 30px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v333_1009 {
  width: 100%;
  height: 744px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 369px;
  overflow: hidden;
}
.v336_1755 {
  width: 100%;
  height: 451px;
  background: url("../images/v336_1755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 389px;
  overflow: hidden;
}
.v336_1756 {
  width: 100%;
  height: 201px;
  background: url("../images/v336_1756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 0px;
  overflow: hidden;
}
.v336_1757 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1758 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1759 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 89px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1760 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 229px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1761 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 391px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1762 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 625px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1763 {
  width: 25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 800px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1764 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 985px;
  overflow: hidden;
}
.v336_1765 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 992px;
  border-radius: 50%;
}
.v336_1766 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1001px;
  overflow: hidden;
}
.v336_1767 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1034px;
  overflow: hidden;
}
.v336_1768 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v336_1769 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1770 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 88px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1771 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 228px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1772 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 391px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1773 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 627px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1774 {
  width: 25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 800px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1775 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 985px;
  overflow: hidden;
}
.v336_1776 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 992px;
  border-radius: 50%;
}
.v336_1777 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1001px;
  overflow: hidden;
}
.v336_1778 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1034px;
  overflow: hidden;
}
.v336_1779 {
  width: 100%;
  height: 63px;
  background: url("../images/v336_1779.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v336_1780 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v336_1781 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 88px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1782 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 228px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1783 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 390px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1784 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 627px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1785 {
  width: 25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 800px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1786 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 985px;
  overflow: hidden;
}
.v336_1787 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 992px;
  border-radius: 50%;
}
.v336_1788 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1001px;
  overflow: hidden;
}
.v336_1789 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1789.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1034px;
  overflow: hidden;
}
.v336_1790 {
  width: 100px;
  height: 100px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 311px;
  overflow: hidden;
}
.v336_1791 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1792 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1793 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 390px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1794 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 764px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1795 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 943px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1796 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 213px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1797 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 624px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1798 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 61px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_1054 {
  width: 100%;
  height: 47px;
  background: url("../images/v333_1054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 389px;
  overflow: hidden;
}
.v333_1055 {
  width: 100%;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.6000000238418579);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v333_1056 {
  width: 300px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 13px;
  left: 21px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_1108 {
  width: 169px;
  height: 48px;
  background: url("../images/v333_1108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 1310px;
  overflow: hidden;
}
.v333_1057 {
  width: 169px;
  height: 48px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v333_1058 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_1059 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_1060 {
  width: 506px;
  height: 635px;
  background: url("../images/v333_1060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 573px;
  overflow: hidden;
}
.v333_1061 {
  width: 506px;
  height: 635px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v333_1062 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_1062.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 81px;
  overflow: hidden;
}
.v333_1063 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_1064 {
  width: 233px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_1065 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_1065.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 81px;
  overflow: hidden;
}
.v333_1066 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_1067 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_1068 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_1068.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 81px;
  overflow: hidden;
}
.v333_1069 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_1070 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_1072 {
  width: 237px;
  height: 41px;
  background: url("../images/v333_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 81px;
  overflow: hidden;
}
.v333_1073 {
  width: 237px;
  height: 41px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_1074 {
  width: 89px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 12px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_1104 {
  width: 241px;
  height: 174px;
  background: url("../images/v333_1104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 132px;
  overflow: hidden;
}
.v333_1105 {
  width: 218px;
  height: 51px;
  background: url("../images/v333_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 127px;
  overflow: hidden;
}
.v333_1106 {
  width: 218px;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v333_1107 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 55px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_1109 {
  width: 83px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 915px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v333_1110 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 551px;
  left: 932px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
