* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v333_410 {
  width: 100%;
  height: 982px;
  background: url("../images/v333_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_411 {
  width: 100%;
  height: 982px;
  background: url("../images/v333_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_412 {
  width: 100%;
  height: 123px;
  background: url("../images/v333_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_413 {
  width: 100%;
  height: 118px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_414 {
  width: 341px;
  height: 108px;
  background: url("../images/v333_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 7px;
  overflow: hidden;
}
.v333_415 {
  width: 71px;
  height: 75px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v333_416 {
  width: 90px;
  height: 80px;
  background: url("../images/v333_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1390px;
  overflow: hidden;

}
.v333_417 {
  width: 100%;
  height: 80px;
  background: url("../images/v333_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v333_418 {
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v333_419 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1324px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_420 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v333_421 {
  width: 356px;
  height: 784px;
  background: url("../images/v333_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v333_422 {
  width: 356px;
  height: 784px;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v333_426 {
  width: 356px;
  height: 214px;
  background: url("../images/v333_426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_427 {
  width: 356px;
  height: 63px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_428 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 29px;
  font-family: Manrope;
  font-weight: Bold;
  text-decoration: underline rgb(255, 255, 255); 
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_429 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 115px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_430 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 160px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_431 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 30px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v333_432 {
  width: 356px;
  height: 569px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  overflow: hidden;
}
.v333_434 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 30px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v336_1638 {
  width: 100%;
  height: 744px;
  background: url("../images/v336_1638.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 369px;
  overflow: hidden;
}
.v336_1639 {
  width: 100%;
  height: 744px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1640 {
  width: 100%;
  height: 201px;
  background: url("../images/v336_1640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 15px;
  overflow: hidden;
}
.v336_1641 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1642 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1643 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 62px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1644 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 187px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1645 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1646 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v336_1647 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1648 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1650 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1651 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v336_1652 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1653 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1655 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1656 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 555px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1657 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1658 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1028px;
  overflow: hidden;
}
.v336_1659 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v336_1660 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1661 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 70px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1662 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 180px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1663 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1664 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v336_1665 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1666 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1668 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1669 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v336_1670 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1671 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1673 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1674 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 563px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1675 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1676 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1028px;
  overflow: hidden;
}
.v336_1677 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v336_1678 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1679 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 63px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1680 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 202px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1681 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1682 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v336_1683 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1684 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1686 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1687 {
  width: 128px;
  height: 36px;
  background: url("../images/v336_1687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v336_1688 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v336_1689 {
  width: 33px;
  height: 36px;
  background: url("../images/v336_1689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v336_1691 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1692 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 556px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1693 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v336_1694 {
  width: 70px;
  height: 60px;
  background: url("../images/v336_1694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1028px;
  overflow: hidden;
}
.v336_1695 {
  width: 100%;
  height: 61px;
  background: url("../images/v336_1695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 15px;
  overflow: hidden;
}
.v336_1696 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v336_1697 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 320px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1698 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 424px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1699 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 762px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1700 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 182px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1701 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 541px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1702 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 922px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v336_1703 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 58px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_502 {
  width: 200px;
  height: 55px;
  background: url("../images/v333_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 1274px;
  overflow: hidden;
}
.v333_503 {
  width: 200px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v333_504 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 30px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v333_505 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_506 {
  width: 100%;
  height: 751px;
  background: url("../images/v333_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  border-radius: 15px;
  left: 311px;
  overflow: hidden;

}
.v333_507 {
  width: 100%;
  height: 751px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v333_508 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 100px;
  overflow: hidden;
}
.v333_509 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_510 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_511 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 100px;
  overflow: hidden;
}
.v333_512 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_513 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_514 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 100px;
  overflow: hidden;
}
.v333_515 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_516 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_517 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 100px;
  overflow: hidden;
}
.v333_518 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_519 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_520 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_521 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 100px;
  overflow: hidden;
}
.v333_522 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_523 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_524 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_525 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 100px;
  overflow: hidden;
}
.v333_526 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_527 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_528 {
  width: 246px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_529 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 579px;
  overflow: hidden;
}
.v333_530 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_531 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_532 {
  width: 344px;
  height: 53px;
  background: url("../images/v333_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 579px;
  overflow: hidden;
}
.v333_533 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_534 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 15px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_535 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 579px;
  overflow: hidden;
}
.v333_536 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_537 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_538 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 579px;
  overflow: hidden;
}
.v333_539 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_540 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_541 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_542 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 579px;
  overflow: hidden;
}
.v333_543 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_544 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_545 {
  width: 148px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_546 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 579px;
  overflow: hidden;
}
.v333_547 {
  width: 344px;
  height: 40px;
  background: url("../images/v333_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_548 {
  width: 344px;
  height: 40px;
  background: rgba(255,255,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.15000000596046448);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v333_549 {
  width: 246px;
  color: rgba(0,0,0,0.4699999988079071);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v333_550 {
  width: 241px;
  height: 174px;
  background: url("../images/v333_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 394px;
  overflow: hidden;
}
.v333_557 {
  width: 218px;
  height: 51px;
  background: url("../images/v333_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 393px;
  overflow: hidden;
}
.v333_555 {
  width: 218px;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v333_556 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 55px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
