* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v305_22 {
  width: 100%;
  height: 982px;
  background: url("../images/v305_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_23 {
  width: 100%;
  height: 982px;
  background: url("../images/v305_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_24 {
  width: 100%;
  height: 123px;
  background: url("../images/v305_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_25 {
  width: 100%;
  height: 118px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v305_26 {
  width: 341px;
  height: 108px;
  background: url("../images/v305_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 7px;
  overflow: hidden;
}
.v305_27 {
  width: 71px;
  height: 75px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v305_28 {
  width: 90px;
  height: 80px;
  background: url("../images/v305_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1390px;
  overflow: hidden;
}
.v305_29 {
  width: 100%;
  height: 80px;
  background: url("../images/v305_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v305_30 {
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v305_31 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1324px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v305_32 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v305_33 {
  width: 356px;
  height: 784px;
  background: url("../images/v305_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v305_34 {
  width: 356px;
  height: 784px;
  background: rgba(0,0,0,0.6200000047683716);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v333_344 {
  width: 356px;
  height: 214px;
  background: url("../images/v333_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_36 {
  width: 356px;
  height: 63px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_38 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 29px;
  font-family: Manrope;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v313_53 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 125px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v313_54 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 170px;
  left: 29px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v333_342 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 30px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v333_343 {
  width: 356px;
  height: 569px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  overflow: hidden;
}
.v333_348 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 30px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v333_353 {
  width: 100%;
  height: 744px;
  background: url("../images/v333_353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 369px;
  overflow: hidden;
}
.v305_40 {
  width: 100%;
  height: 744px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_41 {
  width: 100%;
  height: 201px;
  background: url("../images/v305_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 15px;
  overflow: hidden;
}
.v333_354 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v305_43 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_357 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 62px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_358 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 187px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_359 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_367 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v333_364 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_366 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_360 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_368 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v333_369 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_370 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_372 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_361 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 555px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_362 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_406 {
  width: 70px;
  height: 60px;
  background: url("../images/v333_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1028px;
  overflow: hidden;
}
.v333_355 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v305_44 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_373 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 70px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_374 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 180px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_375 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_376 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v333_377 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_378 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_380 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_381 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v333_382 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_383 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_385 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_386 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 563px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_387 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_408 {
  width: 70px;
  height: 60px;
  background: url("../images/v333_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1028px;
  overflow: hidden;
}
.v333_356 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v305_45 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_388 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 63px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_389 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 202px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_390 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 296px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_391 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_391.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 395px;
  overflow: hidden;
}
.v333_392 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_393 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_395 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_396 {
  width: 128px;
  height: 36px;
  background: url("../images/v333_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 910px;
  overflow: hidden;
}
.v333_397 {
  width: 115px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.v333_398 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_400 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_401 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 556px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_402 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 770px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v333_407 {
  width: 70px;
  height: 60px;
  background: url("../images/v333_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1028px;
  overflow: hidden;
}
.v305_46 {
  width: 100%;
  height: 61px;
  background: url("../images/v305_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 15px;
  overflow: hidden;
}
.v305_47 {
  width: 100%;
  height: 61px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_351 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 320px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_352 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 424px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v305_48 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 762px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v305_49 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 182px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_350 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 541px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v305_50 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 922px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v305_51 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 58px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_409 {
  width: 200px;
  height: 55px;
  background: url("../images/v333_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 1274px;
  overflow: hidden;
}
.v333_403 {
  width: 200px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v333_405 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 30px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
