* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v302_198 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_199 {
  width: 100%;
  height: 982px;
  background: url("../images/v302_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_200 {
  width: 100%;
  height: 123px;
  background: url("../images/v302_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_201 {
  width: 100%;
  height: 118px;
  background: rgba(232,144,5,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v302_202 {
  width: 341px;
  height: 108px;
  background: url("../images/v302_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v302_204 {
  width: 71px;
  height: 75px;
  background: rgba(255,208,134,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1399px;
  border-radius: 50%;
}
.v305_18 {
  width: 90px;
  height: 80px;
  background: url("../images/v305_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1390px;
  overflow: hidden;
}
.v302_205 {
  width: 100%;
  height: 80px;
  background: url("../images/v302_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 0px;
  overflow: hidden;
}
.v302_206 {
  width: 100%;
  height: 80px;
  background: rgba(232,144,5,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v302_207 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 1347px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v302_208 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1330px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v302_218 {
  width: 356px;
  height: 784px;
  background: url("../images/v302_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v302_210 {
  width: 356px;
  height: 784px;
  background: rgba(232,144,5,0.550000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,0.2800000011920929);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v302_214 {
  width: 356px;
  height: 63px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v302_215 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v302_219 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 29px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v302_225 {
  width: 67px;
  background: url("../images/v302_225.png");
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 37px;
  border: 2px solid rgba(255,255,255,1);
}
.v302_227 {
  width: 100%;
  height: 744px;
  background: rgba(232,144,5,0.07000000029802322);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 369px;
  overflow: hidden;
}
.v333_185 {
  width: 100%;
  height: 443px;
  background: url("../images/v333_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 389px;
  overflow: hidden;
}
.v305_17 {
  width: 100%;
  height: 365px;
  background: url("../images/v305_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
  overflow: hidden;
}
.v333_310 {
  width: 100%;
  height: 153px;
  background: url("../images/v333_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v304_4 {
  width: 100%;
  height: 153px;
  background: rgba(255,208,134,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_295 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 94px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_296 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 261px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_297 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 477px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_298 {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 644px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_309 {
  width: 167px;
  height: 36px;
  background: url("../images/v333_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 903px;
  overflow: hidden;
}
.v333_300 {
  width: 164px;
  height: 28px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v333_299 {
  width: 119px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 8px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v333_302 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v333_308 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 110px;
  left: 228px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_305 {
  width: 232px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 261px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v305_16 {
  width: 33px;
  height: 36px;
  background: url("../images/v305_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 50px;
  overflow: hidden;
}
.v333_304 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 84px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_306 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 109px;
  left: 84px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_287 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 11px;
  border: 1px solid rgba(0,0,0,0.8199999928474426);
  overflow: hidden;
}
.v333_311 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 0px;
  overflow: hidden;
}
.v305_13 {
  width: 100%;
  height: 61px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_292 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 40px;
  overflow: hidden;
}
.v333_288 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 11px;
  border: 1px solid rgba(0,0,0,0.8199999928474426);
  overflow: hidden;
}
.v333_315 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 95px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_316 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 260px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_317 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 477px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_318 {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 644px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_319 {
  width: 167px;
  height: 36px;
  background: url("../images/v333_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 903px;
  overflow: hidden;
}
.v333_320 {
  width: 164px;
  height: 28px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v333_321 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v333_323 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v333_312 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 0px;
  overflow: hidden;
}
.v305_14 {
  width: 100%;
  height: 61px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_293 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 41px;
  overflow: hidden;
}
.v333_289 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 11px;
  border: 1px solid rgba(0,0,0,0.8199999928474426);
  overflow: hidden;
}
.v333_324 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 93px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_325 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 238px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_326 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 477px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_327 {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 644px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_328 {
  width: 167px;
  height: 36px;
  background: url("../images/v333_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 903px;
  overflow: hidden;
}
.v333_329 {
  width: 164px;
  height: 28px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v333_330 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 21px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v333_332 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v333_314 {
  width: 100%;
  height: 61px;
  background: url("../images/v333_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 0px;
  overflow: hidden;
}
.v305_15 {
  width: 100%;
  height: 61px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v333_294 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 40px;
  overflow: hidden;
}
.v333_290 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 11px;
  border: 1px solid rgba(0,0,0,0.8199999928474426);
  overflow: hidden;
}
.v333_333 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 96px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_334 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 291px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_335 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 477px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_336 {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 644px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_337 {
  width: 167px;
  height: 36px;
  background: url("../images/v333_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 903px;
  overflow: hidden;
}
.v333_338 {
  width: 164px;
  height: 28px;
  background: rgba(232,144,5,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v333_339 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 21px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v333_341 {
  width: 33px;
  height: 36px;
  background: url("../images/v333_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v305_12 {
  width: 100%;
  height: 61px;
  background: url("../images/v305_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v304_3 {
  width: 100%;
  height: 61px;
  background: rgba(232,144,5,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v304_7 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 476px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v304_6 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 228px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v304_8 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 677px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_291 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 911px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v304_5 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 102px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v333_286 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 1px solid rgba(0,0,0,0.8199999928474426);
  overflow: hidden;
}
.v333_283 {
  width: 256px;
  height: 74px;
  background: url("../images/v333_283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 1214px;
  overflow: hidden;
}
.v333_284 {
  width: 256px;
  height: 74px;
  background: rgba(232,144,5,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v333_285 {
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 6px;
  font-family: Manrope;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
